<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>


	<link rel="stylesheet" type="text/css" href="dist/css/style.css">
	<script src="src/js/site.js"></script>

	<base href="/">
	<title>Elena Zhan</title>

</head>


<body ng-app="site" ng-controller = "siteCtrl">
	<header>
	<div class="nav-bar">
			<!-- <div class="nav-logo-div">
				<a>
					<img class="nav-logo-img" src="images/butterfly_logo.svg" alt="EZlogo">
				</a>
			</div> -->
		
			<nav class="nav-menu" ng-show="showMenu">
				<ul>
					<li>
						<a ng-click="goTo('home')"> home </a>
					</li>
					<li>
						<a href="ResumeF16.pdf" target="_blank"> resume </a>
					</li>
					<li>
						<a ng-click="goTo('contact')"> contact </a>
					</li>
					
				</ul>
			</nav>

			<div class="nav-button">
				<a ng-click="showNavMenu()">&#9776;</a>
			</div>

		
	</header>



	
	<div ui-view></div>



</body>
</html>